.splash {
	text-align: left
}

.project {
	padding-left: 10%;
	margin-top: 30px;
}

.project a {
	color: #FF7043;
}

.project a:hover {
	color: #FF3D00;
}

.hackathon {
	padding-left: 10%;
	margin-top: 30px;
}


.hackathon a {
	color: #FF7043;
}

.hackathon a:hover {
	color: #FF3D00;
}