.splash {
	text-align: left
}

.project {
	padding-left: 10%;
	margin-top: 30px;
}

.project a {
	color: #66BB6A;
}

.project a:hover {
	color: #2E7D32;
}

.hackathon {
	padding-left: 10%;
	margin-top: 30px;
}

.hackathon h3 {
	color: #FF7043;
}

.hackathon h3:hover {
	color: #FF3D00;
}

@media (max-width: 768px) {
	html body {
		padding: 10px;
		padding-top: 50px;
	}

	.splash {
		margin-bottom: 25px;
	}

	ul {
		margin-left: 50px;
		margin-right: 50px;
		font-size: 0.8em
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2em;
	}
}