html body {
	margin: 0;
	padding: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;	
	letter-spacing: 0.2em;
}

a:visited, a:link {
	text-decoration: none;
  	color: #78909C;
}

a:hover, a.active {
	color: #455A64;
}

.container {
	display: block;
}

.header {
	max-width: 850px;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
}

ul {	
	font-size: 1.5em;
	list-style: none;
	margin-left: 10px;
}

li {
	text-decoration: none;
	display: inline-block;
	margin-right: 50px;
}

.splash {
	max-width: 850px;
	margin: auto;
	margin-bottom: 100px;
	text-align: center
}
.splash img {
	width: 40%;
}


h1 {
	font-size: 3.5em;
}

p {
	font-size: 1.2em;
	color: #455A64;
	letter-spacing: 0.05em;
}

.splash a:hover {
	color:#78909C;
}

.work {
	font-size: 1.7em;
}

.internship {
	color: #EF6C00;
}

.footer {
	padding-top: 15px;
	text-align: center;
	max-width: 850px;
	margin: auto;
}

.footer a {
	margin-right: 15px;
}

.love {
	color: #DD2C00;
}

.footer p {
	margin-left: -10px;
}


@media (max-width: 768px) {
	.splash {
		margin-bottom: 25px;
	}
	ul {
		font-size: 0.8em
	}
	.splash img {
		width: 50%;
	}
	h1 {
		font-size: 2.5em;
	}
	p {
		font-size: 0.8em
	}
	.work {
		font-size: 1em;
	}
}